.chat-main
  .main-header
    .main-header__left-box 
      %h2.main-header__left-box__current-group 
        = @group.name
      %ul.main-header__left-box__members-list 
        Member:
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: "main-header__edit" do
      .main-header__edit-btn Edit

  .messages
    = render @messages

  .main-form
    = form_for [@group, @message] do |f|
      .main-form__box
        = f.text_field :content, class: 'main-form__box__message-box' , placeholder: 'type a message'
        .form
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'file-form'
        = f.submit 'Send', class: 'main-form__box__send-box send'